<launch>
  <param name="albacete_map_5.osm_water_description" command="$(find xacro)/xacro --inorder '$(find siam_main)/urdf/albacete_map_5.osm_water.urdf.xacro'" />

  <node name="spawn_albacete_map_5.osm_water" pkg="gazebo_ros" type="spawn_model" args="-param albacete_map_5.osm_water_description -urdf -model albacete_map_5.osm_water" respawn="false" />
</launch>