<launch>
  <param name="albacete_map_5.osm_forest_description" command="$(find xacro)/xacro --inorder '$(find siam_main)/urdf/albacete_map_5.osm_forest.urdf.xacro'" />

  <node name="spawn_albacete_map_5.osm_forest" pkg="gazebo_ros" type="spawn_model" args="-param albacete_map_5.osm_forest_description -urdf -model albacete_map_5.osm_forest" respawn="false" />
</launch>